.git
/node_modules
/vendor
.env
.env.local
.env.*.local
/storage/logs/*
public/build
*.log
/.idea
/.vscode
/public/storage
/production/infra/ecs/.terraform
/production/infra/ecs/.terraform.lock.hcl
/.phpunit.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
